<div style="text-align: center">
  <ul nz-menu nzMode="horizontal" nzTheme="dark">
    <li>
      <h1 style="color: #43CD80; font-family: 微软雅黑,sans-serif">
        <i nz-icon nzType="clock-circle"></i>
        进程调度算法展示
        <i nz-icon nzType="clock-circle"></i>
      </h1>
    </li>
  </ul>
</div>

<div>
  <ul nz-menu nzMode="horizontal" nzTheme="dark">
    <li nz-menu-item nzSelected (click)="toFcFs()">
      <i nz-icon nzType="rocket"></i>
      FcFs(先来先服务算法)
    </li>
    <li nz-menu-item (click)="toRR()">
      <i nz-icon nzType="build"></i>
      RR(时间片轮转算法)
    </li>
    <li nz-menu-item (click)="toHPF()">
      <i nz-icon nzType="fund"></i>
      HPF(高优先级响应算法)
    </li>
  </ul>
</div>

<div style="padding-top: 2%">
  <router-outlet></router-outlet>
</div>
